name: Continuous Deployment

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-2
  ECR_REPOSITORY: backend-java
  AWS_ACCOUNT_ID: 857305036021
  CONTAINER_NAME: backend-java

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG \
            $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG
          docker push \
            $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

  deploy-to-instance-1:
    runs-on: ubuntu-latest
    needs: build-and-push-image

    steps:
      - name: Deploy to EC2 Instance 1
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo yum install docker -y
            sudo service docker start
            sudo usermod -a -G docker ec2-user

            aws ecr get-login-password --region us-east-2 | sudo docker login --username AWS --password-stdin \
            857305036021.dkr.ecr.us-east-2.amazonaws.com

            sudo docker stop backend-java || true
            sudo docker rm backend-java || true

            sudo docker pull 857305036021.dkr.ecr.us-east-2.amazonaws.com/backend-java:${{ github.sha }}

            sudo docker run -d --name backend-java \
              -p 8080:8080 \
              --restart always \
              -e SPRING_PROFILES_ACTIVE=prod \
              -e PROD_DB_HOST=${{ secrets.PROD_DB_HOST }} \
              -e PROD_DB_NAME=${{ secrets.PROD_DB_NAME }} \
              -e PROD_DB_USERNAME=${{ secrets.PROD_DB_USERNAME }} \
              -e PROD_DB_PASSWORD=${{ secrets.PROD_DB_PASSWORD }} \
              -e S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }} \
              -e S3_BUCKET_REGION=${{ secrets.S3_BUCKET_REGION }} \
              857305036021.dkr.ecr.us-east-2.amazonaws.com/backend-java:${{ github.sha }}
