name: Continuous Integration

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Backend Checks
        env:
          SPRING_PROFILES_ACTIVE: test
        run: ./gradlew check
